*{
    margin: 0px;
    border: border-box;
    font-family: Arial;
}
.navbar:hover{
    border: 2px solid white;
}
.navbar{
    height: 60px;
    background-color: rgb(7, 19, 31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/**box2**/

.add-first{
    font-size: 0.85rem;
    margin-left: 15px;
    color: #cccccc;
}.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/**box3**/

.nav-search{
    height: 40px;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: black;
}
.search-select{
    width: 50px;
    background-color:#f3f3f3 ;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 145, 0);
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
.nav-search:hover{
    border: 2px solid rgb(255, 136, 0);
}

/**box4**/

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box6**/

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/**panel**/

.panel{
height: 40px;
background-color: rgb(31, 38, 53);
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel:hover{
    border: 0.5px solid white;
}
.panel-ops p:hover{
    border: 1px solid white;
}
.panel-all:hover{
    border: 1px solid white;
}
.panel-deals:hover{
    border: 1px solid white;
}

/**hero-section**/

.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
background-color: white;
color: black;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 25px;
width: 100%;
font-size: 0.85rem;

}
.hero-msg a{
    color: rgb(6, 52, 47);
    text-decoration: none;

}

/**shop-section**/

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc;
    flex-wrap: wrap;
}
.box{
    height: 400px;
   /** border: 2px solid black;**/
    width: 23%;
    margin-top: 15px;
background-color: white;
padding: 20px,0px,15px;
}
.box-img{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box:hover{
    border: 2px solid black;
}
.shop-section p{
color:rgb(4, 20, 108) ;
font-weight: 300;
}

/**footer**/

.foot-panel1{
    height: 50px;
    background-color: rgb(38, 62, 84);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: rgb(31,38,53);
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 15px;
}
ul a{
    display: block;
    margin-top:10px ;
    font-size: 0.85rem;
}

.foot-panel3{
    background-color:rgb(31,38,53) ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: rgb(24, 29, 42);
    height: 100px;
    color: white;
    font-size: 0.85rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}
.copy-right{
    padding-top: 10px;
}